.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/07/Arsia_Mons_Cloud_-_Mars_Express_-_Flickr_-_jccwrt.png");
  filter: sepia(50%);
  background-size: cover;

  .titles{
    display: flex;
  }
  
  h1{
    margin: 0;
    flex-direction: row;
    font-size: 10rem;
    color: white;
  }
  font-family: 'Orbitron', sans-serif;
  
  #title1{
      color: var(--red);
      
    }
  #title2{
      color: var(--brown);
      
    }

  .separator{
    width: 30rem;
    height: .3rem;
    margin: 0 30rem 0 0 ;
    background-color: white;
  }
}

@media screen and (max-width: 439.95px) {
    .header {
      display: none;
    }
}

@media screen and (min-width: 440px) and (max-width: 719.95px) {
  .header {
    display: none;
  }
}

@media screen and (min-width: 720px) and (max-width: 1079.95px) {
  .header {
    background-size: 100% 100%;
  }
  
  #title1, #title2 {
    font-size: 5rem;
  }

  .separator{
    width: 15rem;
    height: .3rem;
    margin: 0 15rem 0 0 ;
    background-color: white;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1199.95px) {
  #title1, #title2 {
    font-size: 9rem;
  }
}