.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tour-button {
  white-space: nowrap;
  font-size: 0.75rem !important;
}

.homeTour {
  display: flex;
  justify-content: center;
}

.homeTour-image {
  width: 80px;
}

.homeTour-title {
  font-weight: bold;
  font-size: 0.80rem;
}

.homeTour-content p {
  color: #6b4035;
}

.circuitTour {
  display: flex;
  justify-content: center;
  gap:10px;
}

.circuitTour-content {
  display: flex;
  flex-direction: column;
}

.circuitTour-content p{
  color: #6b4035;
}

.circuitTour-image {
  flex-direction: column;
  width: 50px;
}

.circuitTour-title {
  font-weight: bold;
  font-size: 0.80rem;
}

.activitiesTour {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.activitiesTour-image {
  width: 80px;
}

.activities-content p{
  color: #6b4035;
}

.activitiesTour-title {
  font-weight: bold;
  font-size: 0.80rem;
}

.dashboardTour {
  display: flex;
  justify-content: center;
}

.dashboardTour-image {
  width: 80px;
}

.dashboardTour-title {
  font-weight: bold;
  font-size: 0.80rem;
}

.dashboardTour-content p {
  color: #6b4035;
}


@media screen and (min-width: 280px) and (max-width: 414px) {
  .reactour__helper {
    margin-right: 20px;
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .reactour__close {
    display: none !important;
  }
}